.smooch-sans {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.playwrite-vn{
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.lexend-giga{
  font-family: "Lexend Giga", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.text-pole{
    width: 900px;
    height: 400px;
    border-radius: 3px;
    border: #000 2px solid;
    font-size: 14px;
    letter-spacing: 1px;
}
.btn-group {
    margin: 0 5px;
  }
  
  .btn-group,
  .btn {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid silver;
    border-radius: 3px;
  }
  
  .btn {
    color: #333;
    text-decoration: none;
    background-color: #fff;
  }
  
  .btn:hover {
    background-color: #eee;
  }
  .px{
    display: flex;
    justify-content: row;
    align-items: center;
    gap: 10px;
    max-height: 50px;
  }
  .px p{
    margin: 0;
  }
  .menu{
    display: flex;
    align-items: center;
  }
  .input-gradient input{
    width: 50px;
  }